<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manager.service.web.admin.dao.AdminDao">
   <select id="getAdmin" parameterType="Map" resultType="Map" >
       select role_code,real_name,user_email,user_phone from user where user_name =#{name} and user_pwd =#{pwd} and user_status =1
   </select>

   <select id="getResource" parameterType="Integer" resultType="Map">
       select * from resource
   </select>

   <select id="getResourceName" parameterType="Integer" resultType="String">
       SELECT res_name from resource WHERE res_code=#{_parameter}
   </select>

   <select id="findRescodeByPnameAndRname" parameterType="Map" resultType="int">
      SELECT r.res_code from resource r 
      WHERE r.parent_code=(SELECT p.res_code from resource p WHERE p.res_name=#{p_name}) 
      AND r.res_name=#{r_name}
   </select>
   
   <delete id="deleteVersions" parameterType="int">
   	DELETE from softversion_tb WHERE res_code=#{_parameter}
   </delete>
   
   
   <delete id="deleteResource" parameterType="int">
   	DELETE from resource WHERE res_code=#{_parameter}
   </delete>
   
   <update id="updateResourceName" parameterType="Map">
   	UPDATE resource SET res_name=#{res_name}  WHERE res_code=#{res_code} 
   </update>
   
   <select id="getVersions" parameterType="Map" resultType="version">
	    select * from softversion_tb
	    <where>
				<if test="res_code != null and res_code !=''">
					and res_code = #{res_code}
				</if>
				<if test="type != null and type !=''">
					and type = #{type}
				</if>
				<if test="startTime != null and startTime !=''">
					and createDate <![CDATA[>]]> #{startTime}
				</if>
				<if test="endTime != null and endTime !=''">
					and createDate <![CDATA[<]]> #{endTime}
				</if>
				<if test="versioncode_ != null and versioncode_ !=''">
					and versionCode like #{versioncode_}
				</if>
				<if test="keyword_ != null and keyword_ !=''">
					and (versionCode like #{keyword_} or fileName like #{keyword_} 
					or updateDesc like #{keyword_} or createDate like #{keyword_} or commitId like #{keyword_})
				</if>
		</where>
	    order by createDate desc 
	   	limit #{startNum},#{pageSize}
	</select>
	<select id="getVersionCount" parameterType="Map" resultType="Integer">
	  select count(id) from softversion_tb
		<where>
				<if test="res_code != null and res_code !=''">
					and res_code = #{res_code}
				</if>
				<if test="type != null and type !=''">
					and type = #{type}
				</if>
				<if test="startTime != null and startTime !=''">
					and createDate <![CDATA[>]]> #{startTime}
				</if>
				<if test="endTime != null and endTime !=''">
					and createDate <![CDATA[<]]> #{endTime}
				</if>
				<if test="versioncode_ != null and versioncode_ !=''">
					and versionCode like #{versioncode_}
				</if>
				<if test="keyword_ != null and keyword_ !=''">
					and (versionCode like #{keyword_} or fileName like #{keyword_} 
					or updateDesc like #{keyword_} or createDate like #{keyword_} or commitId like #{keyword_})
				</if>
		</where>
	</select>
   
   <!-- 上传版本 -->
	<insert id="uploadVersion" parameterType="Map">
		insert into softversion_tb (res_code,type,fileName,versionCode,size,saveDir,updateDesc,createDate,commitId) 
							values (#{res_code},#{type},#{fileName},#{versionCode},
							#{size},#{saveDir},#{updateDesc},#{createDate},#{commitId})
	</insert>
	<!-- 编辑版本 -->
	<update id="updateVersion" parameterType="Map">
		update softversion_tb 
		<set>
			<if test="type != null and type != ''">
				type=#{type},
			</if>
			<if test="fileName != null and fileName != ''">
				fileName=#{fileName},
			</if>
			<if test="versionCode != null and versionCode != ''">
				versionCode=#{versionCode},
			</if>
			<if test="size != null and size != ''">
				size=#{size},
			</if>
			<if test="res_code != null and res_code != ''">
				res_code=#{res_code},
			</if>
			<if test="saveDir != null and saveDir != ''">
				saveDir=#{saveDir},
			</if>
			<if test="updateDesc != null and updateDesc != ''">
				updateDesc=#{updateDesc},
			</if>
			<if test="createDate != null and createDate != ''">
				createDate=#{createDate},
			</if>
			<if test="commitId != null and commitId != ''">
				commitId=#{commitId},
			</if>			
			
		</set>
		where id=#{id}
	</update>	
	<!-- 删除版本 -->
	<delete id="deleteVersion" parameterType="int">
		delete from softversion_tb where id=#{_parameter}
	</delete>
</mapper>